.app {
    background-color: blue;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px;
    color: rgb(28, 46, 46);
    width: auto;
}
.button{
    border-radius: 25px;
    background: #73AD21;
    padding: 10px;
    width: 50px;
    height: 10px;
}

.sentence {
    padding: 20px;
    background-color: blanchedalmond;
    font-size: x-large;
}